.header{
    display:block;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    top:0;
    background-color: var(--header-bg);
    text-align: center;
    padding: 1rem .8rem;
    &__title{
        font-weight: 700;
        font-size: 2rem;;
        color: var(--text-color);
        margin-right: auto;
    }
}
