body {
    --menu-color: #3760FF;
    --menu-bg: rgba(55, 95, 255, 0.144);
    --sidebar-bg-color: #F6F9FA;
    --main-area-color: #fcfcfa;
    --text-color: #444444;
    --primary-color: #3760FF;
    --secondary-color: #9B9ECA;
    --default-color: #E2EAF7;
}
